ball {
  border-radius: 50%;
  background-image: url('/images/tennis-ball.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: left;
  margin-right: 10px;
}

@keyframes wiggle {
  0% {transform: rotate(80deg);}
  50% {transform: rotate(-80deg);}
  100% {transform: rotate(80deg);}
}
.wiggle-ball {
  animation: wiggle 2s infinite ease-in-out;
}
