<section id="home">
    <div class="container">
        <div class="col-md-12">
            <div class="row fetch-form">
                <form name="dogForm" class="form-inline">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select name="gender" ng-model="fetch.sex" ng-change="fetchPup('sex')" id="gender" class="form-control input-sm">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <select name="age" id="age" ng-model="fetch.age" ng-change="fetchPup('age')" class="form-control input-sm">
                            <option value="Baby">Baby</option>
                            <option value="Young">Young</option>
                            <option value="Adult">Adult</option>
                            <option value="Senior">Senior</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="size">Size</label>
                        <select name="size" id="size" ng-model="fetch.size" ng-change="fetchPup('size')" class="form-control input-sm">
                            <option value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                            <option value="XL">Extra Large</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="breed">Breed</label>
                        <select name="breed" id="breed" 
                            ng-model="fetch.isMix"
                            ng-change="fetchPup('isMix')"
                            ng-options="o.v as o.n for o in [{ n: 'Purebred', v: false }, { n: 'Mix', v: true }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hasShots">Vaccinated</label>
                        <select name="hasShots" id="hasShots" 
                            ng-model="fetch.hasShots"
                            ng-change="fetchPup('hasShots')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="altered">Neutered or spayed</label>
                        <select name="altered" id="altered" 
                            ng-model="fetch.altered"
                            ng-change="fetchPup('altered')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="housetrained">Housetrained</label>
                        <select name="housetrained" id="housetrained" 
                            ng-model="fetch.housetrained"
                            ng-change="fetchPup('housetrained')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goodCats">Good with cats</label>
                        <select name="goodCats" id="goodCats" 
                            ng-model="fetch.goodCats"
                            ng-change="fetchPup('goodCats')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goodDogs">Good with dogs</label>
                        <select name="goodDogs" id="goodDogs" 
                            ng-model="fetch.goodDogs"
                            ng-change="fetchPup('goodDogs')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goodKids">Good with kids</label>
                        <select name="goodKids" id="goodKids" 
                            ng-model="fetch.goodKids"
                            ng-change="fetchPup('goodKids')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="specialNeeds">Special needs</label>
                        <select name="specialNeeds" id="specialNeeds" 
                            ng-model="fetch.specialNeeds"
                            ng-change="fetchPup('specialNeeds')"
                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]"
                            class="form-control input-sm">
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <span ng-repeat="pet in pets">
                    <ball ng-click="goToDog(pet.id)" pet="pet" style="height:30px;width:30px;"></ball>
                </span>
            </div>
        </div>
    </div>
</section>