* {
  box-sizing: border-box;
}

body {
  background: #76c976;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Roboto';
@import 'home/main';
@import 'directives/ball/main';
@import 'navbar/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
